.img{
   text-align: center;
}
.search table{
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    text-align: center;
    margin: 0px 100px;
}
.middle{
    display: flex;
    justify-content: center;
    margin: 2px 100px;
    text-align: center;

}
.a1{
    background-color: #7ee5da;
    display: inline-block;
    width: 37%;
    padding: 6px 0px;
}
.a2 {
    background-color: #70ccc2;
    font-size: small;
    display: inline-block;
    width: 20%;
    margin: 0px 2px;
    padding: 6px 0px;
}
.a3{
    background-color: #62b3aa;
    display: inline-block;
    width: 43%;
    font-size: small;
}

.footer{
    margin-top: 15px;
    text-align: center;
    font-size: small;
}